body{
    width:100%;
    margin: 0;
    padding: 0;
}

.top{
    width: 100%;
    text-align: center;
    overflow: hidden;
    top: 0;
}

.navbox{
    float: left;
    width: 33.33%;
    border-color: black;
    border-bottom-style: solid;
    background-color: #9FFB9F;
    margin-bottom: 5%;
}

.navbox:hover a:hover{
    background-color: #70F970;
}

.nav a{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Arial", Arial;
}
.content img{
    width:100%;
}

.content{
    width: 100%;
    margin: auto;
}

.content .box {
    width: 80%;
    float: left;
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #9FFB9F;
}

.content p{
    font-size: 20px;
    font-family: "Arial", Arial;
}

.content .about{
    width: 40%;
    float:left;
    padding: 2%;
    margin: 3%;
    background-color: #9FFB9F;
}

.content .about p{
    font-size: 20px;
    text-align: left;
    float: left;
}

.about h1{
    text-align: center;
}
.about h2{
    text-align: center;
    font-size: 30px;
    text-decoration: underline black;
}